
.root {
    -fx-padding: 0;
    -fx-alignment: center;
}

.vbox {
    -fx-pref-width: 600;
    -fx-pref-height: 450;
    -fx-background-color: #F2F2F2;
    -fx-padding: 0;
}



.title-bar {
    -fx-background-color: #004B88;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: Helvetica;
    -fx-alignment: center;
}



.title-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 22;
    -fx-pref-height: 17;
    -fx-min-width: 35;
    -fx-min-height: 17;
    -fx-max-width: 40;
    -fx-max-height: 40;
}

/* Add Image "+" Placeholder */
.image-placeholder {
    -fx-background-color: #cccccc;
    -fx-border-color: #999;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.add-label {
    -fx-font-size: 48pt;
    -fx-text-fill: #555;
    -fx-alignment: center;
}




.title-button:hover {
    -fx-background-color: #0066AA;
}

.login-button {
    -fx-font-size: 24px;
    -fx-min-width: 245;
    -fx-min-height: 45;
    -fx-padding: 10;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: #ECF2FB;
    -fx-background-color: #1e92e0;
}
.login-button:hover {
    -fx-cursor: hand;
}

#body {
    -fx-background-color: linear-gradient(to right, #0375AA 0%, #0074D9 21%, #0E63AE 69%, #005092 100%);
}