/*
---------------
ALL
---------------
*/

*{
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Helvetica';
    -fx-font-size: 16px;
}


/*
---------------
Admin
---------------
*/

#searchBox{
    -fx-text-fill: #FFFFFF;
    -fx-background-color: rgba(0, 0, 0, 0.23);
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.75);
}

#adminAdmin{
    -fx-background-color: linear-gradient(from 70% 70% to 100% 100%, #00DF0B 33%, #3EE8CB 66%, #37C1B1 66%);
}

#adminQA{
    -fx-background-color: linear-gradient(to right, #FC8924 0%, #D1A8A8 100%);
}

#adminOperator {
    -fx-background-color: linear-gradient(from 0% 70% to 100% 30%, #F61616 0%, #fb7575 100%);
}


/*
---------------
CustomTitleBar
---------------
*/

/*
---------------
Login
---------------
*/
#body {
    -fx-background-color: linear-gradient(to right, #0375AA 0%, #0074D9 21%, #0E63AE 69%, #005092 100%);
}

.body{
    -fx-background-color: linear-gradient(from 0% 70% to 100% 30%, #0375AA 0%, #04529d 100%, #0E63AE 100%, #005092 70% );
}


/*
---------------
navbar
---------------
*/

#navigationBar{
    -fx-background-color: linear-gradient(from 0% 70% to 100% 30%, #0375AA 0%, #04529d 100%, #0E63AE 100%, #005092 70% );
}

#profileImagePane{
    -fx-padding: 14px 0px 0px 15px;
    -fx-background-color: null !important;
}

/*
---------------
OperatorPage
---------------
*/

#notesArea{
    -fx-pref-height: 280px;
}


/*
---------------
OrderCard
---------------
*/
/*
---------------
Orders
---------------
*/

#ordersBody{
    -fx-background-color: linear-gradient(to right, #0375AA 0%, #0074D9 21%, #0E63AE 69%, #005092 100%);
}

#ordersNew{
    -fx-background-color: linear-gradient(from 70% 70% to 100% 100%, #0095FF 0%, #0077CC 100%);
}

#ordersApproved{
    -fx-background-color: linear-gradient(from 70% 70% to 100% 100%, #00DF0B 33%, #3EE8CB 66%, #37C1B1 66%);
}

#ordersPending{
    -fx-background-color: linear-gradient(to right, #FC8924 0%, #D1A8A8 100%);
}

#ordersRejected {
    -fx-background-color: linear-gradient(from 0% 70% to 100% 30%, #F61616 0%, #fb7575 100%);
}


/*
---------------
QA
---------------
*/

/*
---------------
OTHERS
---------------
*/



.root {
    -fx-padding: 0;
    -fx-alignment: center;
}

 TextField {
     -fx-background-color: rgba(0, 80, 146, 0.23);
     -fx-border-radius: 25;
 }

 .combo-box {
     -fx-background-radius: 5;
     -fx-border-radius: 5;
     -fx-background-color: rgba(0, 80, 146, 0.23);
     -fx-text-fill: white;
 }
 .combo-box .arrow {
     -fx-background-color: white;
 }

 .combo-box-popup .list-view {
     -fx-background-color: rgba(0, 80, 146, 0.23);
 }

 .combo-box .list-cell {
     -fx-background-color: transparent;
     -fx-text-fill: white;
 }

 .combo-box .list-cell:hover {
     -fx-background-color: rgba(0, 80, 146, 0.35);
 }

 .combo-box .list-cell:selected {
     -fx-background-color: rgba(0, 80, 146, 0.5);
 }

 .adminSeButtons{
     -fx-background-color: rgba(49, 49, 49, 0.84);
     -fx-text-fill: white;
 }

.vbox {
    -fx-pref-width: 600;
    -fx-pref-height: 450;
    -fx-background-color: #F2F2F2;
    -fx-padding: 0;
}

.inline-button {
    -fx-pref-width: 50px; /* Can be adjusted based on design needs */
}


custom-scroll-pane {
    -fx-background-color: linear-gradient(to right, #0375AA 0%, #0074D9 21%, #0E63AE 69%, #005092 100%);

}

.scroll-pane {
     -fx-background-color: transparent;
 }

.scroll-pane .scroll-bar:vertical,
.scroll-pane .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.scroll-pane .scroll-bar:vertical .thumb,
.scroll-pane .scroll-bar:horizontal .thumb {
    -fx-background-color: linear-gradient(to right, #0375AA 0%, #0074D9 21%, #0E63AE 69%, #005092 100%);
    -fx-background-radius: 5px;
}

.scroll-pane .scroll-bar .track {
    -fx-background-color: transparent;
}

.scroll-pane .increment-button,
.scroll-pane .decrement-button,
.scroll-pane .increment-arrow,
.scroll-pane .decrement-arrow {
    -fx-background-color: transparent;
    -fx-shape: "";
    -fx-padding: 0;
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}




.title-bar {
    -fx-background-color: #004B88;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-family: Helvetica;
    -fx-alignment: center;
}



.title-button {
    -fx-background-color: transparent;
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 22;
    -fx-pref-height: 17;
    -fx-min-width: 35;
    -fx-min-height: 17;
    -fx-max-width: 40;
    -fx-max-height: 40;
}

/* Add Image "+" Placeholder */
.image-placeholder {
    -fx-background-color: #cccccc;
    -fx-border-color: #999;
    -fx-border-style: dashed;
    -fx-border-width: 2;
    -fx-border-radius: 8;
}

.add-label {
    -fx-font-size: 48pt;
    -fx-text-fill: #555;
    -fx-alignment: center;
}




.title-button:hover {
    -fx-background-color: #0066AA;
}

.login-button {
    -fx-font-size: 24px;
    -fx-min-width: 245;
    -fx-min-height: 45;
    -fx-padding: 10;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: #ECF2FB;
    -fx-background-color: #1e92e0;
}
.login-button:hover {
    -fx-cursor: hand;
}










#navbar Button {
    -fx-padding : 25px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

#navbar *:hover {
    -fx-background-color: rgba(255, 255, 255, 0.25);
    -fx-cursor: hand !important;
}


/* Profile Picture Styles */
#profile_pic {
    -fx-background-radius: 50%;  /* Circular background */
    -fx-border-radius: 50%;  /* Circular border */
    -fx-border-color: white;  /* White border color */
    -fx-border-width: 2px;  /* Border width */
}


.ordersPageNav{
    -fx-background-color: #009EF4 !important;
}
