
.root {
    -fx-padding: 0;
    -fx-alignment: center;
}

.vbox {
    -fx-pref-width: 600;
    -fx-pref-height: 427;
    -fx-background-color: #F2F2F2;
    -fx-padding: 0;
}

.title-bar {
    -fx-background-color: #004B88;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: Helvetica;
    -fx-alignment: CENTER_LEFT;
}

.title-button {
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-text-fill: white;
    -fx-padding: 0;
    -fx-alignment: CENTER;
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-pref-width: 13;
    -fx-pref-height: 19;
    -fx-min-width: 20;
    -fx-min-height: 19;
    -fx-max-width: 40;
    -fx-max-height: 40;
}



.title-button:hover {
    -fx-background-color: #0066AA;
}

.login-button {
    -fx-font-size: 24px;
    -fx-min-width: 245;
    -fx-min-height: 45;
    -fx-padding: 10;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: #ECF2FB;
    -fx-background-color: #575757;
}