
.root {
    -fx-padding: 20;
    -fx-alignment: center;
}

.vbox {
    -fx-pref-width: 600;
    -fx-pref-height: 427;
    -fx-background-color: #F2F2F2;
}

.title-bar {
    -fx-background-color: #004B88;
    -fx-padding: 0 8;
    -fx-alignment: CENTER_LEFT;
}

.title-text {
    -fx-text-fill: white;
    -fx-font-size: 12px;
    -fx-font-family: Helvetica;
}

.title-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0 8;
    -fx-cursor: hand;
}
.title-button:hover {
    -fx-background-color: #0066AA;
}

.button {
    -fx-font-size: 24px;
    -fx-min-width: 245;
    -fx-min-height: 45;
    -fx-padding: 10;
    -fx-font-family: 'Helvetica';
    -fx-text-fill: #ECF2FB;
    -fx-background-color: #575757;
}